header{
  background-color:#141414;
  color:white;
  padding:30px 0;
  display:flex;
  justify-content:center;
  a.brand{
    font-weight:700;
    font-size:1.75rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
  }
}